.home_view
  .home_header
    = render_breadcrumbs separator: ' > ',class: "breadcrumbs"
    .home_header__title
      %h2 タイトル
    .home_header__search
  .main_view
    .programs
      - @programs.each do |program|
        .program
          .program__video
            [動画]
            #{program.video}
          .program__title
            [タイトル]
            #{program.title}
