
.showing
  .top_title
    %P 「#{@program.title}」
  .top_text
    %p #{@program.text}
  .top_pv
    = fa_icon 'eye', class: 'icon'
    = @program.impressionist_count

  -# = link_to 'Edit', edit_program_path(@program)
  -# \|
  -# = link_to 'Back', programs_path
