.creating{
  text-align:center;
  a{
    font-size:50px;
    font-family:cursive;
    background: -webkit-linear-gradient(to right, #e5033e, #b701b5, #4a02c2);
    background: linear-gradient(to right, #e5033e, #b701b5, #4a02c2);
    mix-blend-mode: screen;
    color: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .forming{
    .field{
      // label{
      //   display:flex;
      // }
      .form-title{
        width:300px;
        height:30px;
        // display:none;
      }
      select{
        width:300px;
        height:30px;
      }
      textarea{
        height:300px;
        width:300px;
        // display:none;
      }
      .video_box{
        width:300px;
        // display:none;
      }
      p{
        color:gray;
      }
    }
    .action_btn{
      // display:none;
      margin-top: 30px;
      width:300px;
      height:60px;
      font-size:30px;
      background: white;
      border-radius:20px;
    }
    p{
      font-size:20px;
      color:gray;
    }
  }
}

.created{
  a{
    text-decoration: none;
  }
  h2{
    color:black;
  }
}