.login_view{
  text-align:center;
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url(login.jpg);
  background-size:  cover;
  height:100vh;
  h2{
    padding-top:30px;
    font-size:30px;
  }
  .forming{
    margin:0 auto;
    width:300px;
    .field{
      margin:0 auto;
      // padding-top:20px;
      width:300px;
      label{
        margin-top:50px;
        display:flex;

      }
      .form_space{
        min-width:100%;
        min-height:30px;
        border-radius:20px;
        // display:flex;
      }
    }
    .login_btn{
      min-width:100%;
      border-radius:20px;
    }
  }
}