.login_view{
  text-align:center;
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  h1{
    font-size:100px;
    font-family:cursive;
    background: -webkit-linear-gradient(to right, #e5033e, #b701b5, #4a02c2);
    background: linear-gradient(to right, #e5033e, #b701b5, #4a02c2);
    // mix-blend-mode: screen;
    // color: #e5033e, #b701b5, #4a02c2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h2{
    padding-top:30px;
    font-size:30px;
  }
  .new_user{
    height:30px;
    margin-top:50px;
    a{
      height:50px;
      background-color:white;
      border: 1px solid gray;
      // padding-top:50px;
      color:black;
      text-decoration: none;
    }
  }
  .forming{
    // height:100vh;
    margin:0 auto;
    width:300px;
    .field{
      margin:0 auto;
      // padding-top:20px;
      width:300px;
      label{
        margin-top:50px;
        display:flex;

      }
      .form_name{
        min-width:100%;
        min-height:30px;
        border-radius:20px;
        margin-bottom:20px;
        // display:flex;
      }
      .form_mail{
        display:none;
        min-width:100%;
        min-height:30px;
        border-radius:20px;
        margin-bottom:20px;
        // display:flex;
        // margin-top:50px;
      }
      .form_pass{
        display:none;
        min-width:100%;
        min-height:30px;
        border-radius:20px;
        // display:flex;
        margin-bottom:20px;
      }
      .form_pass_conf{
        display:none;
        min-width:100%;
        min-height:30px;
        border-radius:20px;
        margin-bottom:20px;
        // display:flex;
      }
    }
    .login_btn{
      // display:none;
      min-width:100%;
      border-radius:20px;
    }
  }
}