// Place all the styles related to the programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_view{
  text-align:center;
  font-size:14px;
  .home_header{
    margin:30px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    .breadcrumbs{
    }
    .title{
      margin: 0 auto;
      a{
        text-decoration: none;
        font-size: 20px;
        text-align:center;
        color: black;
      }
    }
    .search{

    }
    .logout{
      margin:20px;
      a{
        text-decoration: none;
        color:red;
      }
    }
    .user_page{
      a{
        color:black;
        text-decoration: none;
      }
    }
  }
  .create_btn{
    margin-top:20px;
    a{
      text-decoration: none;
      color:black;
      float:right;
    }
  }
  .main_view{
    .programs{
      .program{
        word-wrap: break-all;
        font-weight: bold;
        border: 1px solid gray;
        max-width:50%;
        margin:0 auto;
        margin-bottom:50px;
        max-height:100%;
        &__video{
          margin-top:20px;
          min-height:100px;
          .image_video{
            width:90%;
          }
        }
        .no_image{
          display: inline-block;
          margin:0 auto;
          font-size: 50px;
          min-width: 90%;
        }
        &__title{
          word-break: break-all;
          margin-top: 30px;
          border-top: solid 1px gray;
          min-height:100px;
          a{
            display:inline-block;
            padding-top:30px;
            text-decoration: none;
            color:black;

          }
        }
      }
      .actionbtn{
        width:200px;
        border-radius: 20px;
        display:flex;
        margin:0 auto;
        margin-bottom:90px;
        .showbtn{
          a{
            background:#6BCBF6;
            border-radius: 20px;
            text-decoration: none;
            color:black;
          }
        }
        .editbtn{
          a{
            text-decoration: none;
            color:black;
          }
        }
        .destroybtn{
          display:flex;
          a{
            text-decoration: none;
            color:black;
            display:flex;
          }
        }
      }
    }
    .genres{
      display:flex;
      flex-wrap: wrap;
      // margin-left: 30px;
      width:90%;
      margin: 0px auto;
      position:center;
      .genre{
        width:33%;
        position:center;
        .genre__name{
          margin:40px;
          max-width: 220px;
          height:200px;
          border: 1px solid gray;
          border-radius: 10px;
          position:center;
          padding-top: 20px;
          a{
            padding-top: 20px;
            text-decoration: none;
            color:black;
            font-size: 30px;
          }
        }
      }
    }
  }

  .action{
    margin-top:30px;
    a{
      text-decoration: none;
      font-size:30px;
      color: black;
    }
  }
  .showing{
    margin-top:50px;
    // border: 1px solid gray;
    padding:10px;
    min-height: 100%;
    margin:0 auto;
    // min-width:50%;
    // position:center;
    width:60%;
    .top_video{
      max-width:100%;
      .image_video{
        height:800px;
        max-width:100%;
      }
    }
    .top_title{
      border: 1px solid gray;
      p{
        font-size: 50px;
      }
    }
    .top_text{
      border: 1px solid gray;
      p{
        text-align:left;
        display: block;
        min-height:300px;
        font-size: 30px;
      }
    }
    .top_pv{
    }
  }
}