.showing{
  margin-top:50px;
  border: 1px solid gray;
  padding:20px;
  min-height: 100%;
  margin:0 auto;
  // min-width:50%;
  position:center;
  width:60%;
  .top_title{
    border: 1px solid gray;
    p{
      font-size: 30px;
      text-align: center;
    }
  }
  .top_text{
    border: 1px solid gray;
    min-height:300px;
  }
  .top_pv{
  }
}